.contenair
{
    height: 100vh;
    display: flex;
    background-color: blue;
    flex-direction: column;
    justify-content: space-around;
     
}

.header
{
    background-color: green;
    height: 15%;
    padding: 10px;

}
